<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="step1styles.css">
        <script src="step1script.js"></script>
        <h3>My Google Maps Demo</h3>
        <a href="javascript:genScreenshot()"> Get Screenshot</a>
        <a id="test"></a>
        <!--The div element for the map -->
        <div id="map"></div>
        <!-- Replace the value of the key parameter with your own API key. -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap">

        </script>
    </head>
    <body>
        <B>Output</B>
        <div id="output">
        <img src='https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?201606271147'  alt = "error"/>
        </div>
    </body>
</html>



