<!DOCTYPE html>
<html>
  <head>
    <title>Slum Identification</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="step1styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  
<div class="container">
  <div class="row">
    
    
    <p>The area containing slums is semantically masked.</p>
      <div id="output">
          <img src='output.png'  alt = "error"/>
          </div>
    
          <h3>
                <a href = "https://jsfiddle.net/abcgmsilcom/8v01q9jh/16/">
                    Step 1
                  </a>
              </h3>        
              <p>Select area over the map wherein slums are to be detected.</p>
        <h3>
            <a href = "Step2.html">
                Step 2
              </a>
          </h3>        
          <p>Bounding boxes are drawn over the slums along with probabilities mentioned.</p>
      
        <h3>
            <a href = "HomePage.html">
                Home
              </a>
          </h3>        
        <p>Home Page</p>
    
    </div>
  
</div>
    
  </body>
</html>